<div class="index-header">
  <h1>HammerD</h1>

  <h2>Cocktails</h2>
</div>

<div class="drinks">
  <% @cocktails.each do |drink| %>
      <div class="each-drink">
        <%= link_to drink.name, cocktail_path(drink)%>
      </div>
  <% end %>
</div>

<div class="add-drink"><%= link_to "Add Drink", cocktail_new_path%>
</div>
