.main-button {
  display: flex;
  width: 150px;
  height: 50px;
  border: 2px solid black;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-family: 'Risque', cursive;

  a {
    color: black;
  }

  &:hover {
    background: black;
    opacity: 0.6;

    a {
      color: white;
      text-decoration: none;
    }
  }
}
