.main-button {
  display: flex;
  width: 60px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-family: 'Risque', cursive;

  a, .fa-plus {
    color: rgba(0,0,0,0.5)
  }

  &:hover {
    background: black;
    opacity: 0.6;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;


    a, .fa-plus {
      color: white;
    }
  }
}
